nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}


/* Centers the text and image container */
header {
  text-align: center;
  margin-top: 60px; /* Adds space below the fixed nav */
}

.header-img {
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: auto;
}


.projects-container {
  display: flex;
  flex-wrap: wrap; /* Allows boxes to move to a new line if there isn't enough space */
  justify-content: space-between; /* Optional: adds space between the boxes */
  gap: 20px; /* Optional: adds space between the boxes */
}
